<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Guest Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action='/add-user'>
            Name: <input name='name' type="text"/>
            T1: <input name='T1' type="checkbox"/>
            T2: <input name='T2' type="checkbox"/>
            T3: <input name='T3' type="checkbox"/>
            T4: <input name='T4' type="checkbox"/>
            T5: <input name='T5' type="checkbox"/>
            T6: <input name='T6' type="checkbox"/>
            T7: <input name='T7' type="checkbox"/>
            T8: <input name='T8' type="checkbox"/>
            T9: <input name='T9' type="checkbox"/>
            T10: <input name='T10' type="checkbox"/>
            <input type="submit" value = 'save'>
        </form>
        <br/>
        <br/>
        <br/>
        <a href='/'>Click here to return to the homepage</a>
    </body>
</html>